@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  padding: 0;
  margin: 0;
}


* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.image-gallery-slide .image-gallery-image {
  object-fit: cover;
  min-height: 450px;
}

.image-gallery-slides {
  min-height: 450px;
}
